<h1>Books</h1>

<section>
  <h2>Favorite Books</h2>
  <button class="secondary" (click)="clearFavList()">Clear List</button>
  <ul>
    @for (book of favoriteBooks(); track book.isbn) {
    <li>{{ book.title }} ({{ book.isbn }})</li>
    } @empty {
    <li>No favorites added.</li>
    }
  </ul>
</section>

<hr />

<div role="group">
  <input
    type="search"
    #searchInput
    (input)="this.searchTerm.set(searchInput.value)"
    [value]="this.searchTerm()"
    placeholder="Suche"
    aria-label="Suche"
  />
  <button (click)="books.reload()" [attr.aria-busy]="books.isLoading()">
    Reload
  </button>
</div>

@for (b of books.value(); track b.isbn) {
<app-book-list-item
  [book]="b"
  (favAdd)="addToFavs($event)"
></app-book-list-item>
} @empty { No books available. }
