<section>
  <h1>Favorite Books</h1>
  <button (click)="clearFavList()">Clear</button>
  <ul>
    @for (book of favoriteBooks(); track book.isbn) {
    <li>{{ book.title }} ({{ book.isbn }})</li>
    } @empty {
    <li>No favorites added.</li>
    }
  </ul>
</section>

<section>
  <h1>Books</h1>
  <button (click)="books.reload()" [attr.aria-busy]="books.isLoading()">
    Reload
  </button>

  <div>
    <input
      type="search"
      #searchInput
      (input)="this.searchTerm.set(searchInput.value)"
      [value]="this.searchTerm()"
      placeholder="Suche"
      aria-label="Suche"
    />

    @for (b of books.value(); track b.isbn) {
    <app-book-list-item [book]="b" (favAdd)="addToFavs($event)" />
    }
  </div>
</section>
