<h1>Books</h1>

<button (click)="books.reload()">RELOAD</button>

@if (books.isLoading()) {<div>LOADING</div>}

<div style="padding: 1em; background: #DDD">
  <h2>Favorite Books</h2>
  <button class="red" (click)="clearFavList()">Clear fav list</button>
  @for (book of favoriteBooks(); track book.isbn) {
    <p>{{ book.title }} ({{ book.isbn }})</p>
  } @empty { No favorite books. }
</div>

<input type="search" #searchInput (input)="this.searchTerm.set(searchInput.value)" placeholder="Lokale Suche">

<ul class="book-list">
  @for (b of filteredBooks(); track b.isbn) {
    <li>
      <app-book-list-item [book]="b" (favAdd)="addToFavs($event)"></app-book-list-item>
    </li>
  }
  @empty {
  <li>No books available.</li>
  }
</ul>
